.slider-container {
  border: 1px solid #5dbb63;
}

.slider {
  padding: 1rem;

  .slick-next,
  .slick-prev {
    color: #000;
  }

  .slick-next:hover,
  .slick-prev:hover {
    color: #777;
  }

  img {
    padding: 0.5rem;
  }
}
